/* 耳付きボタン

* HTML

<div class="p-foobar__button">
  <a href="#" class="c-button-dogear">read more</a>
</div>

* Note

このクラスには幅を指定していない(100%)ため、
外側をdivでくくって幅を指定する。

*/
@use "global"as *;

.c-button-dogear {
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  // min-width: 500px;
  padding: rem(20);
  width: 100%;
  font-weight: bold;
  color: $white;
  text-align: center;
  line-height: calc(28 / 24);
  transition: color .3s;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: $color-main;
    transition: width .3s;
    z-index: -1;
    transform: translate(-50%, 50%) rotate(45deg);
  }

  &:hover {
    color: $black;
  }

  &:hover::after {
    width: 180%;
    height: auto;
  }
}
