/* お問い合わせボタン
*/
@use "global"as *;

.c-button-contact {
  display: inline-block;
  width: 100%;
  padding: rem(20);
  font-size: rem(24);
  font-weight: 700;
  color: $white;
  border: 2px solid $white;
  text-align: center;
  transition: background-color .3s, color .3s, border-color .3s;

  &:hover {
    color: $black;
    background-color: $color-main;
    border-color: $color-main;
    opacity: 1;
  }
}
