/* サービスの丸

* HTML

  <div class="p-service__item c-circle">
    <a href="">
      <img src="https://picsum.photos/800/600/" alt="">
      <div class="c-circle__content">
        <h3 class="c-circle__title">サンプル</h3>
      </div>
    </a>
  </div>

*/
@use "global"as *;

.c-circle {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  overflow: hidden;

  a {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  &__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba($color-main, .6);
    transition: bottom .3s;
    border-radius: 100%;
    pointer-events: none;
    
    @include mq(md) {
      bottom: 100%;
      background-color: $color-main;
    }
  }

  a:hover &__content {
    bottom: 0;
  }

  &__title {
    position: relative;
    font-size: rem(48);
    font-weight: 700;
    color: $black;
    line-height: calc(56 / 48);
    padding-bottom: rem(25);
  }

  &__title::after {
    content: "";
    position: absolute;
    display: block;
    width: rem(100);
    height: 3px;
    background-color: $black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

}  
