/* コンポーネント：カード(施工事例)
*/
@use "global"as *;

.c-card {
  position: relative;
  overflow: hidden;

  a {
    display: flex;
    flex-direction: row;
    @include mq(md) {
      display: unset;
    }
  }

  &__main {
    flex-shrink: 0;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-main;
    padding-top: rem(8);
    padding-bottom: rem(8);

    @include mq(md) {
      display: block;
      background-color: unset;
    }
  }

  &__category {
    // position: absolute;
    top: rem(50);
    left: 0;
    display: inline-block;
    padding: rem(5) rem(20) rem(5) rem(25);
    font-size: rem(19.2);
    font-weight: 700;
    background-color: $color-main;

    @include mq(md) {
      position: absolute;
    }
  }

  &__contents {
    // position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: rem(8);
    background-color: rgba($color-main, .7);
    transition: transform .3s;
    padding: rem(8) rem(20) 0 rem(25);
    pointer-events: auto;
    
    @include mq(md) {
      position: absolute;
      flex-direction: row;
      align-items: center;
      transform: translateY(100%);
      padding: rem(30) rem(30) rem(30) rem(26);
    }
  }

  &:hover .c-card__contents {
    transform: translateY(0);
  }

  &__title {
    font-size: rem(24);
    font-weight: 700;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: rem(24);
    text-transform: capitalize;
    font-family: $font-en;
    font-size: rem(19.2);
    font-weight: 700;

    &::after {
      content: ">";
      display: block;
    }
  }

  &__image {
    width: 30%;
    @include mq(md) {
      width: unset;
    }
  }
  &__image img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    height: 100%;
    @include mq(md) {
      height: auto;
      aspect-ratio: 550 / 350;
    }
  }
}