/* ハンバーガーメニュー
*/
@use "global"as *;

.c-hamburger {
  position: relative;
  line-height: 1;
}
.c-hamburger__title {
  text-transform: uppercase;
  font-size: liquid(10, 375, 16, 768);
  font-weight: bold;
  line-height: 1;
  display: none;
  text-align: center;

  @include mq(ssm) {
    display: block;
  }

  @include mq(md) {
    font-size: 16px;
  }
}
.c-hamburger__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #3a3838;
}
.c-hamburger__line {
  margin-top: liquid(10, 375, 15, 768);
  transition: opacity .3s, transform .3s;

  @include mq(md) {
    margin-top: 15px;
  }
}

.c-hamburger.active .c-hamburger__line:nth-of-type(2) {
  opacity: 0;
}

.c-hamburger.active .c-hamburger__line:nth-of-type(1) {
  transform: translateY(#{liquid(13, 375, 18, 768)}) rotate(45deg);
  @include mq(md) {
    transform: translateY(18px) rotate(45deg);
  }
}

.c-hamburger.active .c-hamburger__line:nth-of-type(3) {
  transform: translateY(#{liquid(-13, 375, -18, 768)}) rotate(-45deg);
  @include mq(md) {
    transform: translateY(-18px) rotate(-45deg);
  }
}
