/* 見出し英語

* HTML

  <div class="c-heading-en">concept</div>

*/
@use "global"as *;

.c-heading-en {
  position: absolute;
  z-index: -1;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  font-family: $font-en;
  font-size: rem(150);
  font-weight: 700;
  color: $color-heading-en;
  line-height: 1;

  & span {
    color: $color-main;
  }

  &--fg {
    color: #6C6969;
    opacity: 1;
    z-index: 1;
  }
}
