/* ハンバーガーメニュー
*/
@use "global"as *;

.c-hamburger {
  position: relative;
  z-index: 120;
  width: 50%;
}
.c-hamburger__title {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}
.c-hamburger__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #3a3838;
}
.c-hamburger__line {
  margin-top: rem(15);
  transition: opacity .3s, transform .3s;
}

.c-hamburger.active .c-hamburger__line:nth-of-type(2) {
  opacity: 0;
}

.c-hamburger.active .c-hamburger__line:nth-of-type(1) {
  transform: translateY(rem(18)) rotate(45deg);
}

.c-hamburger.active .c-hamburger__line:nth-of-type(3) {
  transform: translateY(rem(-18)) rotate(-45deg);
}
