/* 見出し英語

* HTML

  <div class="c-heading-en">concept</div>

*/
@use "global"as *;

.c-heading-en {
  position: absolute;
  right: max((100% - #{$innerWidthSub}) / 2, 1.1em);
  transform: translateX(100%);
  z-index: -1;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  font-family: $font-en;
  font-size: liquid(48, 375, 60, 768);
  font-weight: 700;
  color: $color-heading-en;
  line-height: 1;

  @include mq(md) {
    font-size: rem(150);
    right: unset;
    left: max((100% - #{$innerWidthSub}) / 2, 1.1em);
    transform: translateX(-100%);
    }

  & span {
    color: rgba($color-main, .25);
  }

  &--right {
    left: unset;
    right: max((100% - #{$innerWidthSub}) / 2, 1.1em);
    transform: translateX(100%);
  }

  &--fg {
    color: #6C6969;
    opacity: 1;
    z-index: 1;
  }

  &--fg span {
    color: $color-main;
  }
}
