/* タグ
*/
@use "global"as *;

.c-tag {
  display: inline-block;
  padding: rem(5) rem(25);
  font-size: rem(19.2);
  font-weight: 700;
  color: $white;
  background-color: $black;
  border-radius: rem(100);
  transition: background-color .3s, color .3s;
}

.c-tag:hover {
  color: $black;
  background-color: $color-main;
}