/* コンポーネント：タブ(施工事例)
*/
@use "global"as *;

.c-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mq(md) {
    flex-wrap: nowrap;
  }

  &__item {
    width: calc(100% / 3);
    flex-grow: 1;
    font-size: rem(19.2);
    font-weight: 700;
    text-align: center;
    line-height: calc(50 / 19.2);
    transition: color .3s;
    white-space: nowrap;
    cursor: pointer;

    @include mq(md) {
        width: 100%;
    }
    

    // a {
    //   display: inline-block;
    //   width: 100%;

    //   @include mq(md) {
    //     width: inherit;
    //   }
      
    // }

    &:hover {
      color: $color-main;
    }
  }

  &__item + &__item {
    border-left: 2px solid #D1D1D1;
  }

  &__item:nth-child(3n + 4) {
    border-left: unset;
    @include mq(md) {
      border-left: 2px solid #D1D1D1;
    }
  }

  &__item.is-active {
    color: $color-main;
  }
}
