/* タグ
*/
@use "global"as *;

.c-tag {
  display: inline-block;
  padding: rem(5) rem(25);
  font-size: rem(19.2);
  font-weight: 700;
  color: $white;
  background-color: $black;
  border-radius: rem(100);
  transition: background-color .3s, color .3s;
}

.c-tag:hover {
  color: $black;
  background-color: $color-main;
}

.c-tag--clear {
  background-color: #DFDFDF;
  color: $black;
  display: none;

  &::before {
    content: "x";
    margin-right: rem(8);
  }
}

.c-tag.c-tag--selected {
  color: $black;
  background-color: $color-main;
}
