/* セクション：アクセス
*/
@use "global"as *;

.p-access {
  position  : relative;
  overflow-x: hidden;
  overflow-y: hidden;

  &__heading-en {
    position: absolute;
    top : 50%;
    transform: translateY(-50%) translateX(100%);
    right: max((100% - $innerWidthSub) / 2, 200px);
  }

  &__map {
    width      : 100%;
    position   : relative;
    padding-top: 44%;

    iframe {
      position: absolute;
      top     : 0;
      left    : 0;
      width   : 100%;
      height  : 100%;
    }
  }
}