/* セクション：沿革
*/
@use "global"as *;

.p-history {
  &__wrapper {
    margin-inline: auto;
    max-width: 100%;
    @include mq(md) {
      max-width: $innerWidthSub + $padding-pc * 2;
      padding-left: calc(#{rem(100)} + #{$padding-pc});
    }
    position: relative;
    // padding-left: rem(100);

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: calc(100% + rem(120) + rem(62));
      top: rem(-120);
      left: calc($padding-pc + 6px);
      background-color: $color-main;
      z-index: 1;
    }
  }

  &__list {
    margin-top: rem(60);
    margin-right: rem(100);
    position: relative;
  }
  
  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: rem(24);
    font-weight: 700;
    
    &::before {
      content: "";
      position: absolute;
      width: rem(15);
      height: rem(15);
      border-radius: rem(15);
      background-color: $black;
      top: rem(12);
      left: rem(-100);
    }

    &::after {
      content: "";
      position: absolute;
      width: rem(90);
      // width: min(rem(90), calc((100vw - $innerWidthSub) / 2));
      height: 1px;
      background-color: $black;
      top: rem(18);
      left: rem(-90);
    }

    &--mt20 {
      margin-top: rem(20);
    }
    &--mt30 {
      margin-top: rem(30);
    }
    &--mt50 {
      margin-top: rem(50);
    }
    &--mt70 {
      margin-top: rem(70);
    }
    &--mt80 {
      margin-top: rem(80);
    }
    &--mt100 {
      margin-top: rem(100);
    }
  }

  &__term {
    width: rem(105);
  }

  &__desc {
    flex-grow: 1;
  }

  &__background-wrapper {
    position: absolute;
    top: 0;
    right: min(100px, 100px);
    right: $padding-pc;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  &__background {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__bg1 img {
    width: rem(445);
    height: auto;
    aspect-ratio: 445 / 381;
    object-fit: cover;
  }
  &__bg2 img {
    width: rem(334);
    height: auto;
    aspect-ratio: 334 / 223;
    object-fit: cover;
  }
  &__bg3 img {
    width: rem(228);
    height: auto;
    aspect-ratio: 228 / 393;
    object-fit: cover;
  }
}
