/* セクション：当社が選ばれる理由
*/
@use "global"as *;

.p-reason {
  &__message {
    margin-top: rem(20);
    font-size: rem(24);
    font-weight: 400;
  }

  &__message:first-of-type {
    margin-top: rem(50);
  }

  &__list {
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    row-gap: rem(50);
    column-gap: rem(68);

    @include mq(md) {
      flex-direction: row;
    }
    
  }

  &__item {
    width: 100%;

    @include mq(md) {
      width: calc((100% - #{rem(68)} * 2) / 3);
    }
  }
}