/* セクション：サービス
*/
@use "global"as *;

.p-service {
  position        : relative;
  overflow-x      : hidden;
  z-index         : 0;
  background-color: $color-service-bg;

  .p-service__heading-en {
    position: absolute;
    left: max((100% - $innerWidthSub) / 2, 200px);
    transform: translateX(-100%);
  }

  &__list {
    margin-top    : rem(50);
    display       : flex;
    flex-direction: column;
    row-gap       : rem(75);
  }

  &__list-row {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    column-gap     : rem(75);
  }

  &__item {
    width: rem(350);
  }

  &__button {
    margin-top  : rem(75);
    margin-right: auto;
    margin-left : auto;
    max-width   : rem(500);
  }
}