/* セクション：サービス
*/
@use "global"as *;

.p-service {

  &__list {
    margin-top: rem(50);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: rem(75);
    row-gap: rem(75);
  }

  &__item {
    max-width: rem(350);
    width: 100%;
  }

  &__item:nth-of-type(5n + 1) {
    grid-column: 1 / span 3;
    justify-self: flex-end;
    aspect-ratio: 1 / 1;
  }

  &__item:nth-of-type(5n + 2) {
    grid-column: 4 / span 3;
    justify-self: flex-start;
  }

  &__item:nth-of-type(5n + 3) {
    grid-column: 1 / span 2;
    justify-self: flex-end;
  }

  &__item:nth-of-type(5n + 4) {
    grid-column: 3 / span 2;
    justify-self: center;
  }

  &__item:nth-of-type(5n + 5) {
    grid-column: 5 / span 2;
    justify-self: flex-start;
  }

  &__button {
    margin-top: rem(75);
    margin-right: auto;
    margin-left: auto;
    max-width: rem(500);
  }
}