/* セクション：サービス
*/
@use "global"as *;

.p-service {
  position        : relative;
  overflow-x      : hidden;
  z-index         : 0;
  background-color: $color-service-bg;

  &__list {
    margin-top    : rem(50);
    display       : flex;
    flex-direction: column;
    row-gap       : rem(10);

    @include mq(md) {
      row-gap: rem(75);
    }
  }

  &__list-row {
    display        : contents;
    flex-direction : row;
    justify-content: center;
    column-gap     : rem(75);

    @include mq(md) {
      display: flex;
    }
  }

  &__item {
    width: 60%;
    min-width: rem(350);
    
    @include mq(md) {
      width: rem(350);
    }
  }

  &__item:nth-child(2n) {
    align-self: flex-end;
    @include mq(md) {
      align-self: unset;
    }
  }

  &__button {
    margin-top  : rem(75);
    margin-right: auto;
    margin-left : auto;
    max-width   : rem(500);
  }
}

// 下層ページ用
.p-service-sub {
  position: relative;
  z-index: 0;
  
  &__item {
    margin-top: rem(50);
  }
  &.p-service-sub--bg {
    background-color: $color-service-bg;
    position: relative;

  }
}