/* レイアウト：施工事例
*/
@use "global"as *;

.l-construction {
  padding-bottom: rem(60);

  @include mq(md) {
    padding-bottom: rem(120);
  }

  &--sub {
    padding-top: rem(60);

    @include mq(md) {
      padding-top: rem(120)
    }
    
  }
}
