/* レイアウト：お問い合わせ
*/
@use "global"as *;

.l-contact {
  padding-top: rem(75);
  padding-bottom: rem(75);
  
  @include mq(md) {
    padding-top: rem(150);
    padding-bottom: rem(150);
  }
}
