/* フッターエリア
*/
@use "global"as *;

.l-footer {
  margin-left: liquid(60, 375, 80, 768);
  padding-top: rem(120);
  padding-bottom: rem(120);

  @include mq(md) {
    margin-left: 100px;
  }
}
