/* ヘッダーレイアウト
*/
@use "global"as *;

.l-header {
  width: liquid(60, 375, 80, 768);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 80px;

  @include mq(md) {
    width: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
